@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-serif), var(--font-roboto-mono),
    var(--font-inter), var(--font-roboto-condensed), var(--font-roboto),
    sans-serif;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.fill-available {
  height: -webkit-fill-available;
  height: fill-available;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
